{% extends "base.html" %}

{% block title %}Contact{% endblock title %}

{% block content %}
  <!-- contact section -->

  <section class="contact_section layout_padding-bottom layout_padding2-top">
    <div class="container ">
      <div class="heading_container ">
        <h2 class="">
          Contact Us
          <hr>
        </h2>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-6 ">
            <h3>Number: <p>+977 9876543210</p> </h3>
            <h3>Address: <p>Tinkune, Kathmandu</p></h3>
            <h3>Email: <p>dogadoption@gmail.com</p></h3>
          </form>
        </div>
        <div class="col-md-6">
          <div class="map_container">
            <div class="map">
              <div id="googleMap"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- end contact section -->
  {% endblock content %}

